body{
    font-family: Poppins, sans-serif;
}

header, .pricing, .gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

header img{
    width: 100%;
    height: auto;
    animation: fadeIn 3s;
}

.nav_links{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card{
    width: 100%;
    align-items: center;
    flex-direction: column;
}
#image1, #image2,#image3, #image4, #image5{
    width: 100%;
    align-items: center;
    flex-direction: column;
}
